.new-job-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: fixed;
    top: 28%;
    left: 43%;
}

.new-job{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: fixed;
    top: 20%;
    left: 45%;
}

.employee-needed{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: fixed;
    top: 58%;
    left: 43%;
}

