.machine-wrapper{
    display: grid;
    width: 99%;
    grid-template-rows: 10% 75% 14%;
    height: 350px;
    text-align: center;
    border: white 1px solid;
}

.machine-images{
    width: 99%;
    padding: 9px;
    height: 250px;
    display: -ms-inline-flexbox;
    align-items: center;
}

.link{
    text-align: right;
    margin-right: 20px;
}