.fileInput{
    border: 1px solid #EDF50B;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.imgPreview{
    display: grid;
    text-align: center;
    justify-content: center;
    margin: 5px 15px;
    height: 300px;
    width: 500px;
}

.previewText{
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

/*.submitButton{*/
/*    padding: 12px;*/
/*    margin-left: 10px;*/
/*    background: #000000;*/
/*    color: #EDF50B;*/
/*    border: 4px solid #EDF50B;*/
/*    border-radius: 15px;*/
/*    font-weight: 700;*/
/*    font-size: 10pt;*/
/*    cursor: pointer;*/
/*    visibility: hidden;*/
/*}*/

hover{
    background: #efefef;
}

.centerText{
    text-align: center;
    width: 550px;
}

.previewComponent{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 550px;
}

