.machines-component {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    margin: 30px;
    /*border: yellow 1px solid;*/
}

h1, p, h6{
    margin: 0px;
    border: white 1px solid;
}

