.customer-data-form{
    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 20px;
    justify-items: center;
    padding-top: 20px;
    height: 800px;
}

.firstname, .lastname, .address, .zipcode, .city, .phone, .email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.checkbox{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: start;
}
