.profile-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.pagewrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border: white 1px solid;
    width: 99%;
    height: 100%;
}

