.preview{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    border: white 1px solid;
    width: 99%;
}

.pic{
    width: auto;
    height: auto;
}

.rating{
    align-items: center;
}




