.quote-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border: white 1px solid;
    width: 99%;
}

.preference-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

textarea {
    width: 500px;
    height: 200px;
    background-color:#000000;
    color: #EDF50B;
}
