.customer-data-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.alternate-address{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

input{
    background-color: black;
}

