.request-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    border: white 1px solid;
    width: 99%;
    padding-bottom: 20px;
}

.dropdownMenuWrapper,  .selector-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.preference-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

closeIcon{
    background-color: black;
}


