.new-job-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 950px;
}

.new-job{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/*.employee-needed{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    justify-items: center;*/
/*}*/

